# Informational files
include README.rst
include LICENSE

prune .env
prune docs
prune tests



# Exclude any compile Python files (most likely grafted by tests/ directory).
global-exclude *.pyc

# Setup-related things
# include pavement.py
# include requirements-dev.txt
# include requirements.txt
include setup.py
# include tox.ini

recursive-include mcloud/static *
