jinja2
texttable
twisted
txredisapi
inject
voluptuous
pprintpp
prettytable
treq
pyOpenSSL
PyYAML
service-identity
netifaces
autobahn==0.8.11
pyasn1-modules
characteristic
confire
scandir
readline
bashutils