setuptools>=2.1
# Runtime requirements
pytest-pythonpath
pytest
pytest-cov
mock
pep8
pytest-pep8
sphinx
sphinx_rtd_theme
pytest-twisted
flexmock
sphinxcontrib-plantuml
sphinx-argparse
jinja2
texttable
twisted
txredisapi
inject
voluptuous
pprintpp
prettytable
docker-py
treq
pyOpenSSL
PyYAML
txsockjs
service-identity
netifaces
