Source: mcloud-full
Section: python
Priority: extra
Maintainer: Alex Rudakov <ribozz@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: mcloud-full
Architecture: any
Pre-Depends: dpkg (>= 1.16.1)
Depends: mcloud, redis-server
Description: Superpackage that will install mcloud and other services reuired