<!DOCTYPE html>
<html ng-app="mcloudApp">
<head>
	<title>ModeraCloud</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="globalsign-domain-verification" content="tjPuJ5jX4j4pATIppQupGylEnRoAvy36OTtyE8Og39" />
	<link href="/assets/css/modera.min.css" rel="stylesheet" media="screen" />
	<link href="/assets/css/font-awesome.min.css" rel="stylesheet" media="screen" />
	<link href="/assets/css/modera-theme.min.css" rel="stylesheet" media="screen" />
	<link href="/assets/css/app.css" rel="stylesheet" media="screen" />
	<!--<link href="/components/xterm.js/src/xterm.css" rel="stylesheet" media="screen" />-->
	<link rel="shortcut icon" type="image/png" href="/assets/images/mcloudicon.png?v=3">

    <!--
      here's mr. Java Script.
      There's a bit mess for now - we use
      - JQuery std lib for bootstrap
      - Angular for ui logic
      We also have Angular lib for bootstrap but this is yet not integrated:
      Work To Be Done
    -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!--script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js"></script>
    <script src="/angular/modera.js"></script-->
    <!-- Bootstrap helpers compiled -->
    <script src="/assets/js/modera.js"></script>
    <script src="/components/reconnectingWebsocket/reconnecting-websocket.js"></script>
    <script src="/components/angular/angular.js"></script>
    <!--<script src="/components/xterm.js/src/xterm.js"></script>-->
    <script src="/components/term.js/src/term.js"></script>
    <script src="/assets/js/mcloud.js"></script>
    <script src="/assets/js/app.js"></script>


</head>
<body id="page-base" data-spy="scroll" data-target=".sidebar-column" data-offset="100">



<!-- content wrap starts -->
<div id="wrap" data-spy="affix" data-offset-top="145">



<!-- hero unit -->
<div class="jumbotron md-hero md-cloud-hero">
	<div class="md-hero-inner">
		<div class="container">
				<h1 class="text-center"><img src="/assets/images/mcloudlogo.svg" height="60" alt="ModeraCloud"></h1>
				<div class="version text-center">Beta</div>
		</div>
	</div>
</div>


<div class="container app-list" ng-controller="McloudAppsCtrl">
    <div class="row">
        <div class="col-xs-12" style="padding-top: 30px;" ng-click="foo()">
            <!--<div role="tabpanel">-->
              <ul class="nav nav-tabs">
                  <li role="presentation" ng-class="{active: selection.app == 'new'}" style="margin-left: 15px;">
                      <a href="#" ng-click="select_app('new')">
                          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New application
                      </a>
                  </li>
                  <li role="presentation" ng-class="{active: app == selection.app}"  ng-repeat="app in apps">
                      <a href="#" ng-click="select_app(app)">{{ app.name }}</a>
                  </li>
                  <li role="presentation" style="float: right;">
                      <a class="refresh-link" ng-click="update_apps()">
                          <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh
                      </a>
                  </li>
              </ul>

            <!--</div>-->

            <div class="panel" ng-if="selection.app" style="margin-top: 30px;">
                <table class="table table-hover" ng-if="selection.app.services">
                  <thead>
                    <tr>
                      <th>Service</th>
                      <th>Cpu</th>
                      <th>Memory</th>
                        <th>ip</th>
                        <th>Running</th>
                    </tr>
                  </thead>
                  <tr ng-repeat="service in selection.app.services" ng-click="select_service(service)">
                      <td>{{ service.shortname }}</td>
                      <td>{{ service.cpu }}</td>
                      <td>{{ service.memory }}</td>
                      <td>{{ service.ip }}</td>
                      <td>{{ service.running }}</td>
                  </tr>
                </table>

                <div class="well well-lg" ng-if="selection.app == 'new'" style="border: 2px dashed darkgray; border-radius: 10px;">
                    <span style="font-size: 30px; color: darkgray;">
                        Drag and drop your mcloud.yml here.
                    </span>
                </div>
            </div>

            <div ng-if="selection.service">
                <h2>{{ selection.service.name }}</h2>

                <hr />
                <hr />

                <!--<div class="container">-->
                    <div class="row">
                        <div class="col-xs-2">
                            <ul class="nav nav-pills nav-stacked">
                                 <li role="presentation" ng-class="{'active': selection.service_tab == 'inspect'}">
                                     <a ng-click="service_inspect(selection.service)">Inspect</a>
                                 </li>
                                 <li role="presentation" ng-class="{'active': selection.service_tab == 'logs'}">
                                     <a ng-click="service_logs(selection.service)">Logs</a>
                                 </li>
                            </ul>
                        </div>
                        <div class="col-xs-10" ng-if="selection.service_tab == 'inspect'">
                             <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th>Param</th>
                                  <th>Value</th>
                                </tr>
                              </thead>
                              <tr ng-repeat="(key, val) in selection.service.inspect">
                                  <td>{{ key }}</td>
                                  <td style="white-space: pre; font-family: monospace; font-size: 12px;">{{ val|json }}</td>
                              </tr>
                            </table>
                        </div>
                        <div class="col-xs-10" ng-if="selection.service_tab == 'logs'">
                            <xterm term="selection.service.terminal"/>
                        </div>
                    </div>
                <!--</div>-->
            </div>
        </div>
    </div>
</div>

</div><!--/#wrap -->


<!-- fixed footer -->
<footer>
	<div class="container">
		<p class="text-muted">
		    Designed and developed in <strong>Modera R&amp;D labs</strong>.
		</p>
	</div>
</footer>




<!-- Asciinema trigger show and hide -->
<script>
$(function () {
	$('#cinemaBtn').hide();
	$('#terminal').hover(
		function () {
			$('#cinemaBtn').show();
		},
		function () {
			$('#cinemaBtn').hide();
		});
});
</script>


</body>
</html>
